header {
  min-height: 20vh;
  background-image: linear-gradient(to right, #f28, #f3a, #d3a);
  text-align: center;

  h1 {
    color: white;
    padding-top: 20px;
  }

  button {
    margin: 20px;
    color: crimson;

  }
}

.new-note {
  margin: 10px 2%;

  .new-note-header {
    display: inline-block;
    width: 100%;

    button {
      float: right;
    }
  }

  form {
    mat-form-field {
      width: 100%;
    }

    .form-cta {
      width: 100%;
      display: inline-block;

      .spinner {
        float: right;
        margin: 0 10px;
      }
    }

  }
}

hr {
  background-color: #f3a;
  margin: 10px;
}

.notes {
  margin: 10px;
  .action-buttons{
    button{
      margin: 10px;
    }
  }
  .notes-view {
    margin-top: 5px;

    .notes-item {
      margin-top: 10px;

      mat-expansion-panel-header {
        height: max-content;

        mat-panel-title {
          font-weight: bold;

        }

        mat-panel-description {
          justify-content: end;

          @media screen and (max-width:500px) {
            span {
              display: none;
            }
          }

          button {
            float: right;

            &:hover {
              color: #000;
            }
          }
        }
      }

      &.grid-view {
        flex: 1 0 0;
        flex-wrap: wrap;
        min-width: 23%;
        width: 30%;
        max-width: 50%;
        margin: 10px;
        word-wrap: break-word;

        mat-card {
          height: 30vh;

          mat-card-content {
            height: 15vh;
            overflow-y: auto;
          }

          @media screen and (max-width:500px) {
            mat-divider {
              display: none;
            }
          }
        }
      }

      @media screen and (max-width:500px) {
        &.grid-view {
          flex: 1 0 0;
          flex-wrap: wrap;
          min-width: unset;
          width: 30%;
          max-width: 50%;
          margin: 10px;
          word-wrap: break-word;

          mat-card {
            height: 25vh;
            mat-card-content {
              height: 40%;
              overflow-y: auto;
            }
            mat-card-actions{
              position:absolute;
              bottom: 2%;
            }
          }
        }
      }
    }

      &.grid {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;

      }
    }

  }